/* mobile & tablet */
@media (max-width: 1023px) {
    .header__navbar-content {
        margin-left: 20px;
        padding: 150px 0 50px;
    }
    .product__gallery-img--bigger,
    .product-img-big {
        width: 100%;
        height: 100%;
    }

    .product__decription-heading-list  {
        flex-direction: column;
    }

    .product__decription-heading-list a:first-child {
        border-left: 1px solid rgb(219, 219, 219);
        border-right: 1px solid rgb(219, 219, 219);
    }

    .product__rate-list {
        margin: 20px 0;
    }

}

/* tablet */
@media (min-width:740px) and (max-width: 1023px) {
    .product-img-small {
        width: 120px;
        height: 120px;
        margin: 0;
        margin-top: 4px;
    }

    
}

/* mobile */
@media (max-width: 739px) {
    .header__navbar-content {
        font-size: 2rem;
    }

    .container__product {
        margin: 0 20px;
    }

    .product-img-small {
        width: 68px;
        height: 68px;
        margin: 0;
        margin-top: 4px;
    }

    .price-number {
        font-size: 2.5rem;
    }

    .product-choose {
        width: 200px;
    }
    .product__rate-item-img-wrap {
        width: 335px;
        height: 335px;
    }
   
}